<main>
  <% flash.each do |message_type, message| %>
    <div class="flash-message <%= message_type %>"><%= message %></div>
  <% end %>
</main>
<%= yield %>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @book.body %>
</p>


<div class="link">
  <%= link_to "Edit", edit_book_path(@book.id) %>
  |
  <a href="/books">Back</a>
</div>
